<% layout('layouts/boilerplate')%>
    <form action="/upload" method="POST">
        <div>
            <input type="text" id="title" name="title" placeholder="title">
        </div>
        <div>
            <input type="text" id="img" name="img" placeholder="image">
        </div>
        <div>
            <input type="text" id="tags" name="tags" placeholder="tags">
        </div>
        
        <button>Submit</button>
    </form>